<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }} | {{ title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="theme-color" content="{{ site.themeColor }}" />
    <meta name="background-color" content="{{ site.bgColor }}" />
    <!-- <link rel="shortcut icon" href="/assets/favicon.png" type="image/png" /> -->
    <!-- <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" /> -->
    <link rel="stylesheet" href="/styles/styles.css" inline />
    <script>
      {% include _localStorage.js %}
    </script>
  </head>
  <body id="body" class="bg-coolGray-100 dark:bg-warmGray-800">
    <nav class="flex justify-end max-w-4xl mx-auto px-4 mt-10">
      <button
        id="theme"
        title="theme"
        class="bg-white dark:bg-warmGray-600 hover:bg-amber-500 dark:hover:bg-amber-500 rounded-md shadow-sm px-4 py-2"
      >
        <span id="label">🌑</span> <span class="sr-only">toggle theme</span>
      </button>
    </nav>

    <main class="max-w-4xl mx-auto px-4 mb-20">
      {{ content | safe }}
    </main>

    <footer class="text-gray-500 max-w-4xl mx-auto px-4">
      <p>
        Made by
        <a
          class="text-coolGray-800 dark:text-coolGray-200 hover:text-amber-500 border-b-2 border-amber-500 dark:border-amber-800"
          href="{{ site.authorUrl }}"
          >{{ site.author }}</a
        >. If you find this project useful you can
        <a
          class="text-coolGray-800 dark:text-coolGray-200 hover:text-amber-500 border-b-2 border-amber-500 dark:border-amber-800"
          href="https://ko-fi.com/G2G33AMQO"
          >Donate</a
        >.
      </p>
    </footer>

    <script src="/scripts/app.js" inline></script>
  </body>
</html>
